## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>${_('About')}</title></%block>

<%block name="js_extra">
  <script type="text/javascript">
    $(function() {
      $('section.message').hide();
      $('#about-menu a').removeClass('active');
      window.scrollTo(0,0);
      var hash = window.location.hash

      if (hash) {
        $('section' + hash).show();
        $('#about-menu a.' + hash.substring(1)).addClass('active');
      } else {
        $('section#about').show();
        $('#about-menu a.about').addClass('active');
      }

      $('#about-menu a').click(function(event) {
        event.preventDefault();
        $('#about-menu a').removeClass('active');
        $(this).addClass('active');
        var clickId = "section" + $(this).attr('href');
        $('section.message').hide();
        $(clickId).show();
      });
    });
  </script>
</%block>

<section class="container about" style="width: auto;">
  <section class="vision">

## About Section ##
    <section class="message left" id="about">
      <article>
        <h2>${_('About')}</h2>

        <p>This learning platform is a pilot from the Microsoft Learning Experiences team. The site is powered by Open edX and hosted in Azure.</p>

        <p>Send platform inqueries to the <a href="mailto:rexops@microsoft.com">LeX team</a>.</p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>

</section>
